<html>

<head>
    <link rel="stylesheet" href="/stylesheet/style.css" />
</head>

<body>
    <div class="body">
        <div class="login">
            <h1>SIGN UP</h1>
        </div>
        <div class="form">
            <h2>Name
                <input type="text" value="" name="name" placeholder="enter name" id="name" />
            </h2>
            <h2>Email Id
                <input type="text" value="" name="email" placeholder="enter email" id="email" />
            </h2>
            <h2>Passwd
                <input type="password" value="" name="passwd" placeholder="enter passwd" id="Passwd" />
            </h2>
            <h2>Confirm pass
                <input type="text" value="" name="confirm passwd" placeholder="Re-enter passwd" id="confirmpasswd" />
            </h2>
            <button onclick="login1()">Submit</button>
        </div>

       </div>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
         <script src ="/js/index.js" ></script>

</body>

</html>