<html>

<head>
    <link rel="stylesheet" href="stylesheet/style.css" />
</head>

<body>
    <div class="body">
        <div class="signup">
            <h1>LOGIN</h1>
        </div>
        <div class="form">

            <h2> Email Id
                <input type="text" value="" name="email" placeholder="enter email" id="email" />
            </h2>

            <h2> Passwd
                <input type="text" value="" name="passwd" placeholder="enter passwd" id="Passwd" />
            </h2>

            <button onclick = "login()">LOGIN</button> <br><br> OR <br><br>
             <button> <a href = "/signup">SIGN UP</a></button>
            
        </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src = "/js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
</body>



</html>